$primary: #37a437;
$secondary: #408964;
$info: #bbf79f;
$success: #28c02b;
$warning: #feca32;
$danger: #fc1350;
$light: #c7d8f5;
$dark: #383e5a;
$accent1: #6d6d9d;
$accent2: #797cc6;
$accent3: #a6b4d5;

$primary100: #e4fad9;
$primary200: #c5f5b4;
$primary300: #98e388;
$primary400: #6dc864;
$primary500: $primary;
$primary600: #288d30;
$primary700: #1b762b;
$primary800: #115f25;
$primary900: #0a4e22;

$secondary100: #def9e1;
$secondary200: #bff3c9;
$secondary300: #95dba9;
$secondary400: #6eb88b;
$secondary500: $secondary;
$secondary600: #2e7558;
$secondary700: #20624e;
$secondary800: #144f43;
$secondary900: #0c413c;

$info100: #f6feec;
$info200: #ecfed9;
$info300: #defcc6;
$info400: #d0fab7;
$info500: $info;
$info600: #8cd474;
$info700: #62b150;
$info800: #3d8f32;
$info900: #23761e;

$success100: #e1fbd3;
$success200: #bdf8a9;
$success300: #8dec7b;
$success400: #60d958;
$success500: $success;
$success600: #1da52b;
$success700: #148a2b;
$success800: #0c6f28;
$success900: #075c26;

$warning100: #fef8d5;
$warning200: #fef0ad;
$warning300: #fee583;
$warning400: #fedb65;
$warning500: $warning;
$warning600: #daa724;
$warning700: #b68619;
$warning800: #93670f;
$warning900: #795109;

$danger100: #fed5cf;
$danger200: #fea3a0;
$danger300: #fe717a;
$danger400: #fd4d6a;
$danger500: $danger;
$danger600: #d80d56;
$danger700: #b50957;
$danger800: #920653;
$danger900: #78034f;
